body {
  background-color: rgb(240, 233, 224);
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.37);
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h1 {
  align-self: center;
}
#add-button {
  padding: 0 3px 0 0;
  align-self: flex-end;
  background-color: inherit;
  border: none;
  font-size: 25px;
  font-weight: 200;
}
ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
li {
  padding: 0px;
  margin-top: 20px;
  list-style: none;
  background-color: #ffcf40cc;
  display: flex;
  border: none;
  border-radius: 1.5px;
  flex-direction: column;
  box-shadow: 1px 3px 7px 4px rgba(0, 0, 0, 0.2);;
}
li input {
  background-color: #ffcf40cc;
  border: none;
  block-size: 40px;
}
li button {
  background-color: inherit;
  border: none;
  font-size: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-items: flex-end;
}