body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 233, 224);
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.425);
}
#container {
  min-height: 100vh;
  min-width: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  justify-content: space-between;
}
#main-header {
  padding: 0;
  display: flex;
  flex-direction: column;
}
h1 {
  align-self: center;
}
#add-button {
  align-self: flex-end;
  padding: 0 3px 0 0;
  background-color: inherit;
  border: none;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  transition-duration: .5s,.5s,.5s,.5s,.5s,.5s;
}
#add-button:hover {
  transform               : rotate(180deg);
	-moz-transform          : rotate(180deg);
	-webkit-transform       : rotate(180deg);
	transform-origin        : center;
	-moz-transform-origin   : center;
	-webkit-transform-origin: center;

	transition              : transform 1.0s ease all;
	-moz-transition         : -moz-transform 1.0s ease 
}
.delete-button {
  padding: 0 3px 0 0;
  background-color: inherit;
  border: none;
  font-size: 15px;
  outline: none;
}
.delete-button:hover {
  cursor: pointer;
}
ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.list-item {
  padding: 0px;
  margin-top: 20px;
  list-style: none;
  background-color: #ffcf40cc;
  display: flex;
  border: none;
  border-radius: 2px;
  flex-direction: column;
  transition: 1.0 ease all;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.2);
}
.note-title {
  display: flex;
  flex-direction: row-reverse;
}

.note-title .title-input {
  block-size: 20px;
}

.list-item input {
  background-color: inherit;
  border: none; 
  block-size: 50px;
  text-anchor: middle;
  text-align: center;
  outline: none;
  caret-color: transparent;
}

.list-item textarea {
  background-color: inherit;
  border: none; 
  block-size: 50px;
  text-anchor: middle;
  text-align: center;
  outline: none;
  caret-color: transparent;
}
.hidden-button {
  display: none;
}

@media (max-width: 480px){
  #main-header h1{
    font-size: 35px;
  }
  #main-header p{
    font-size: 16px;
  }

}