html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 233, 224);
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.425);
  overflow: auto;
}
body::-webkit-scrollbar {
  display: none;
}
.main-header {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
h1 {
  align-self: center;
  font-size: 100px;
}
.add-button {
  align-self: center;
  margin-bottom: 50px;
  padding: 0;
  background-color: inherit;
  border: none;
  font-size: 25px;
  font-weight: 200;
  outline: none;
  transition-duration: .5s,.5s,.5s,.5s,.5s,.5s;
}
.add-button:hover {
  transform               : rotate(180deg);
	-moz-transform          : rotate(180deg);
	-webkit-transform       : rotate(180deg);
	transform-origin        : center;
	-moz-transform-origin   : center;
	-webkit-transform-origin: center;
  cursor: pointer;
	transition              : transform 1.0s ease all;
	-moz-transition         : -moz-transform 1.0s ease 
}

.list-item {
  display: inline-block;
  justify-self: center;
  padding: 0px;
  margin: 0 .5em 1em;
  list-style: none;
  background-color: #ffcf40cc;
  border: none;
  border-radius: 2px;
  transition: 1.0 ease all;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-width: 220px;
  min-height: 175px;
}
.title-input {
  color: inherit;
  background-color: inherit;
  border: none; 
  block-size: 150px;
  text-anchor: middle;
  text-align: center;
  outline: none;
  caret-color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  border-bottom: none;
}
.title-input:focus-within {
  border-bottom: .5px solid rgba(0, 0, 0, 0.2);
}
.title-input::placeholder {
  color: inherit;
}

.list-item textarea {
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: none; 
  block-size: auto;
  text-anchor: middle;
  text-align: left;
  font-size: 18px;
  outline: none;
  min-width: 220px;
  padding-top: 1.1em;
  min-height: 150px;
  max-height: 250px;
  resize: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.list-item textarea::placeholder {
  color: inherit;
}
.list-item textarea::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  overflow: visible;
}
.list-item textarea::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 2px 0px 1px 2px;
}
.list-item textarea::-webkit-scrollbar-button{
  height: 0px;
  width: 0px;
}
.list-item textarea::-webkit-resizer{
  display: none;
}
.note-title {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.note-title .title-input {
  block-size: 30px;
}

.note-title .delete-button {
  padding: 0 3px 0 0;
  background-color: inherit;
  border: none;
  font-size: 20px;
  outline: none;
  align-self: flex-end;
}
.note-title .delete-button:hover {
  cursor: pointer;
}

.hidden-button {
  display: none;
}

@media (max-width: 480px){
  #main-header h1{
    font-size: 60px;
  }

}